<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>상품 관리</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <style>
    body {
      min-height: 100vh;
    }

    .input-form {
      max-width: 1000px;

      margin-top: 80px;
      margin-bottom: 80px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }

    .wrap-div-main{
      position: fixed;
      top:5%;
      left:35%;
    }

    .div-coupon {
      width: 500px;
      height: 700px;
      background-color: white;
      border: 4px solid #FFC107;
      border-radius: 5px 5px 5px 5px;
    }

    .textarea {
      border: 1px solid #CED4DA;
      border-radius: 5px 5px 5px 5px;
      width:410px;
      height:100px;
      resize:none;
    }

    .margin-left {
      margin-left : 10px;
    }

    .div-coupon-view {
      border-radius: 5px 5px 5px 5px;
      background : #FFC107;
      box-shadow : 5px 5px 5px 5px gray
    }

    .img-choice {
      border: 3px solid #FFC107;
    }

    .img-choice2 {
      border: 3px solid #FFC107;
    }

    .div-item {
      width:300px;
      height:300px;
      border : 1px solid #C7C8C9;
      margin-right: 5px;
      margin-top: 5px;
      display : inline-block;
    }

    .div-item img {
      width:100%;
      height:65%;
    }

    .div-item .title{
      margin-left : 5px;
      font-size : 15px;
    }

    .div-item .price{
      margin-left : 5px;
      font-weight : bold;
      font-size : 20px;
    }

    .div-item .deil{
      margin-left : 5px;
      font-size : 13px;
      color : #C7C8C9;
    }
    
    .div-item .star img {
      margin-left : 5px;
      width:20px;
      height:20px;
    }

    .div-item:hover {
      border: 3px solid #FFC107;
    }

  </style>
  <script type="text/javascript">
    var header = $("meta[name='_csrf_header']").attr("content");
    var token = $("meta[name='_csrf']").attr("content");
    var pages = 0;

    $(document).ready(function(){

      $('.filebox .upload-hidden').on('change', function(){
          let filename = '';

          if($(this)[0].files.length > 0){
              // 파일명 추출
              filename = $(this)[0].files[0].name;
          }

          $(this).siblings('.upload-name').val(filename);
      });

      $('.preview-image .upload-hidden').on('change', function(){
          let parent = $(this).parent();
          let reader = new FileReader();
          parent.children('.upload-display').remove();

          if($(this)[0].files.length > 0){
              //image 파일만
              if (!$(this)[0].files[0].type.match(/image\//)) return;

              reader.onload = function(e){
                  var src = e.target.result;
                  parent.prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img src="'+src+'" class="upload-thumb"></div></div>');
              }
              reader.readAsDataURL($(this)[0].files[0]);
          }
      });

      // 상품 조회 버튼
      $('#btnAppr').click(function() {
        fn_appr();
      });

      // 상품 추가 버튼
      $('#btnAdd').click(function() {
        $('.wrap-div').removeClass('display-none');
        $('#method').val('POST');
        $('#btnDelete').css('visibility', 'hidden');
        fn_apprCateogry(0, 0);
      });

      // 대분류
      $("#category1").change(function() {
        fn_initCategory(1);
        if($(this).val() != 'all') {
          fn_apprCateogry($(this).val(), 1);
        }
      });

      // 중분류
      $("#category2").change(function() {
        fn_initCategory(2);
        if($(this).val() != 'all') {
          fn_apprCateogry($(this).val(), 2);
        }
      });

      // 닫기 버튼
      $('#btnClose').click(function() {
        fn_close()
      });

      // 저장 버튼
      $('#btnSave').click(function() {
        fn_save();
      });

      // 삭제 버튼
      $('#btnDelete').click(function() {
        let item = {
            "user" : $('#login-user-id').val()
          , "selItemId" : $('#selItemId').val()
        }

        if(confirm('삭제하시겠습니까?')) {
          $.ajax({
              type: "DELETE"
            , url : "/api/v1/sel/item"
            , beforeSend: function(xhr){
              $('.wrap-loading').removeClass('display-none');
              xhr.setRequestHeader(header, token);
            }
            , contentType : "application/json"
            , data : JSON.stringify(item)
            , success : function(data) {
              if(data.resultCode == 200) {
                alert('삭제가 완료되었습니다');
                fn_close();
                fn_appr(pages);
              } else {
                alert('삭제가 실패하였습니다');
              }
            }
            , complete:function(){
                $('.wrap-loading').addClass('display-none');
            }
            , error : function(e) {
              alert('삭제가 실패하였습니다');
            }
          });
        } else {
          return false;
        }
      });
    });

    // 카테고리 조회
    function fn_apprCateogry(parent, depth, id) {
      let str = '';

      $.ajax({
          type: "GET"
        , url : "/api/v1/category/" + parent + "/" + depth
        , dataType: "json"
        , success : function(data) {
          let str = '';

          if(data.resultCode == 200) {
            if(depth == 0) {
              $("#category1").append('<option value="'+ 'all' +'\">'+ '- 선택 -' +'</option>');
              for(let i=0; i < data.result.length; i++) {
                $("#category1").append('<option value="'+ data.result[i].categoryId +'\">'+ data.result[i].categoryName +'</option>');
              }
              if(!fn_checkBlank(id)) {
                $("#category1").val(id);
              }
            } else if(depth == 1) {
              $("#category2").append('<option value="'+ 'all' +'\">'+ '- 선택 -' +'</option>');
              for(let i=0; i < data.result.length; i++) {
                $("#category2").append('<option value="'+ data.result[i].categoryId +'\">'+ data.result[i].categoryName +'</option>');
              }
              if(!fn_checkBlank(id)) {
                $("#category2").val(id);
              }
            } else {
              $("#category3").append('<option value="'+ 'all' +'\">'+ '- 선택 -' +'</option>');
              for(let i=0; i < data.result.length; i++) {
                $("#category3").append('<option value="'+ data.result[i].categoryId +'\">'+ data.result[i].categoryName +'</option>');
              }
              if(!fn_checkBlank(id)) {
                $("#category3").val(id);
              }
            }
          } else {
            if(data.divisionCode == 'G013') {
              alert(data.resultMsg);
            } else {
              alert('조회가 실패하였습니다');
            }

            fn_initCategory(depth);
          }
        }
        , beforeSend:function(){
            $('.wrap-loading').removeClass('display-none');
        }
        , complete:function(){
            $('.wrap-loading').addClass('display-none');
        }
        , error : function(e) {
          alert('조회가 실패하였습니다');
          fn_initCategory(depth);
        }
      });
    }

    // 카테고리 초기화
    function fn_initCategory(depth) {
      if(depth == 0) {
        $('#category1 option').remove();
        $('#category2 option').remove();
        $('#category3 option').remove();
      } else if(depth == 1) {
        $('#category2 option').remove();
        $('#category3 option').remove();
      } else {
        $('#category3 option').remove();
      }
    }

    // 닫기
    function fn_close() {
      $('#selItemId').val('')
      $('#selItemName').val('')
      fn_initCategory(0);
      $('#selItemExpln').val('')
      $('#selSalePrice').val('')
      $('#selDeilPrice').val('')
      $('#selStock').val('')
      $('.upload-hidden').val('');
      $('.upload-name').val('');
      $('.upload-display').remove();
      $('#selItemId').attr('disabled', false);

      $('.wrap-div').addClass('display-none');
    }

    // 저장
    function fn_save() {
      let formData = new FormData();
      let inputFile = $('.upload-hidden');
      let item = {
          "user" : $('#login-user-id').val()
        , "selItemId" : $('#selItemId').val()
        , "selItemName" : $('#selItemName').val()
        , "category" : $('#category3').val()
        , "selExpln" : $('#selItemExpln').val()
        , "selItemPrice" : $('#selSalePrice').val()
        , "selDeilPrice" : $('#selDeilPrice').val()
        , "selMiniImg" : $('#name1').val()
        , "selMainImg" : $('#name2').val()
      }

      if(fn_checkBlank($('#selItemId').val())) {
        alert('상품코드를 입력해주세요');
        $('#selItemId').focus();
        return false;
      }

      if(fn_checkBlank($('#selItemName').val())) {
        alert('상품명 입력해주세요');
        $('#selItemName').focus();
        return false;
      }

      if(fn_checkBlank($('#category3').val()) || $('#selItemExpln').val() == 'all') {
        alert('카테고리 선택해주세요');
        $('#category3').focus();
        return false;
      }

      if(fn_checkBlank($('#selItemExpln').val())) {
        alert('상품설명을 입력해주세요');
        $('#selItemExpln').focus();
        return false;
      }

      if(fn_checkBlank($('#selSalePrice').val())) {
        alert('판매가격을 입력해주세요');
        $('#selSalePrice').focus();
        return false;
      }

      if(fn_checkBlank($('#selDeilPrice').val())) {
        alert('배송가격을 입력해주세요');
        $('#selDeilPrice').focus();
        return false;
      }

      for (var i = 0; i < inputFile.length; i++) {
        if (inputFile[i].files.length > 0) {
          if(i == 0) {
            formData.append('files', inputFile[i].files[0], 'mini');
          } else {
            formData.append('files', inputFile[i].files[0], 'main');
          }
        }
      }

      formData.append('json', new Blob([ JSON.stringify(item) ], {type : "application/json"}));
      console.log($('#method').val());
      $.ajax({
          type: $('#method').val() == 'PUT' ? "PUT" : "POST"
        , url : "/api/v1/sel/item"
        , beforeSend: function(xhr){
          $('.wrap-loading').removeClass('display-none');
          xhr.setRequestHeader(header, token);
        }
        , contentType: false
        , processData: false
        , enctype : 'multipart/form-data'
        , data : formData
        , success : function(data) {
          if(data.resultCode == 201 || data.resultCode == 204) {
            alert('저장이 완료되었습니다');
            fn_close();
            fn_appr(pages);
          } else {
            if(data.divisionCode == 'G014') {
             alert(data.reason);
            } else {
             alert('저장이 실패했습니다');
            }
          }
        }
        , complete:function(){
            $('.wrap-loading').addClass('display-none');
        }
        , error : function(e) {
          alert('저장이 실패했습니다');
        }
      });
    }

    // 조회
    function fn_appr(page) {
      let itemSearch = $('#item').val();
      let pageNum = fn_checkBlank(page) ? 0 : page;
      let user = $('#login-user-id').val();
      if(fn_checkBlank(itemSearch)) {
        itemSearch = 'all';
      }

      $('#page').html('');

      $.ajax({
          type: "GET"
        , url : "/api/v1/sel/item/" + itemSearch + "/" + pageNum + "/" + "regDate" + "/" + user
        , dataType: "json"
        , success : function(data) {
          let str = '';

          if(data.resultCode == 200) {
            let total = data.result.totalElements / 9;
            let start = Math.floor(pageNum / 9) * 9;
            let end = total < (9 * (Math.floor(pageNum / 9)+1))? total : total - (total - (9 * (Math.floor(pageNum / 9)+1)));

            for(let i=0; i < data.result.content.length; i++) {
              str += '<div class="div-item"';
              str += '    data-user = "' + data.result.content[i].user + '"';
              str += '    data-selItemId = "' + data.result.content[i].selItemId + '"';
              str += '    data-selItemName = "' + data.result.content[i].selItemName + '"';
              str += '    data-category = "' + data.result.content[i].category + '"';
              str += '    data-selMiniImg = "' + data.result.content[i].selMiniImg + '"';
              str += '    data-selMainImg = "' + data.result.content[i].selMainImg + '"';
              str += '    data-selExpln = "' + data.result.content[i].selExpln + '"';
              str += '    data-selItemPrice = "' + data.result.content[i].selItemPrice + '"';
              str += '    data-selDeilPrice = "' + data.result.content[i].selDeilPrice + '"';
              str += '    data-selStarPoint = "' + data.result.content[i].selStarPoint + '"';
              str += '    data-selSaleCount = "' + data.result.content[i].selSaleCount + '"';
              str += '    data-selHeartCount = "' + data.result.content[i].selHeartCount + '"';
              str += '    data-selStockCount = "' + data.result.content[i].selStockCount + '"';
              str += '>';
              str += '  <img src="/files/item/'+ data.result.content[i].selMiniImg +'">';
              str += '  <div class="title">'+ data.result.content[i].selItemName +'</div>';
              str += '  <div class="price">'+ data.result.content[i].selItemPrice +'원</div>';
              str += '  <div class="deil">배송비 '+ data.result.content[i].selDeilPrice +' ㆍ 구매 '+ data.result.content[i].selSaleCount +' ㆍ 별점 '+ data.result.content[i].selStarPointAvg.toFixed(1) +'</div>';
              str += '  <div class="star">';

              if(data.result.content[i].selStarPointAvg.toFixed(1) == 0) {
                str += '    <img src="/img/star-white.png">';
              } else {
                for(var j=0; j<Math.floor(data.result.content[i].selStarPointAvg.toFixed(1)); j++) {
                  str += '    <img src="/img/star.png">';
                }

                for(var j=0; j<data.result.content[i].selStarPointAvg.toFixed(1) % 1; j++) {
                  str += '    <img src="/img/star-half.png">';
                }
              }

              str += '  </div>';
              str += '</div>';
            }

            str += '<div class="page_wrap"> ';
            str += '  <div class="page_nation"> ';
            str += '    <a class="arrow pprev" onclick=\"fn_appr(0);\">First</a> ';

            if(pageNum-1 < 0) {
              str += '    <a class="arrow prev" onclick=\"alert(\'처음 페이지 입니다.\');">&lt;</a> ';
            } else {
              str += '    <a class="arrow prev" onclick=\"fn_appr(' + (pageNum-1) + ');\">&lt;</a> ';
            }

            for(var i=start; i<end; i++) {
              if(pageNum == i) {
                str += '<a class=\"active\" onclick=\"fn_appr(' + i + ');\">' + (i+1) + '</a>';
              } else {
                str += '<a onclick=\"fn_appr(' + i + ');\">' + (i+1) + '</a>';
              }
            }

            if(pageNum+1 >= total) {
              str += '    <a class="arrow next" onclick=\"alert(\'마지막 페이지 입니다.\');">&gt;</a> ';
            } else {
              str += '    <a class="arrow next" onclick=\"fn_appr(' + (pageNum+1) + ');\">&gt;</a> ';
            }

            if(total - Math.floor(total) == 0) {
              total -= 1;
            }

            str += '    <a class="arrow nnext" onclick=\"fn_appr(' + Math.floor(total) + ');\">Last</a> ';
            str += '  </div> ';
            str += '</div> ';

            $('#page').html(str);

            pages = pageNum;

            $('.div-item').click(function() {
              $('.wrap-div').removeClass('display-none');

              $('#method').val('PUT');
              $('#selItemId').attr('disabled', true);
              $('#btnDelete').css('visibility', 'visible');

              fn_itemCategory($(this).data('category'));
              $('#selItemId').val($(this).data('selitemid'))
              $('#selItemName').val($(this).data('selitemname'))
              $('#selItemExpln').val($(this).data('selexpln'))
              $('#selSalePrice').val($(this).data('selitemprice'))
              $('#selDeilPrice').val($(this).data('seldeilprice'))
              $('#selStock').val($(this).data('selstockcount'))
              $('#name1').val($(this).data('selminiimg'));
              $('#name1').parent().prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img src="/files/item/'+ $(this).data('selminiimg') +'" class="upload-thumb"></div></div>');
              $('#name2').val($(this).data('selmainimg'));
              $('#name2').parent().prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img src="/files/item/'+ $(this).data('selmainimg') +'" class="upload-thumb"></div></div>');
            });
          } else {
            if(data.divisionCode == 'G013') {
              alert(data.resultMsg);
            } else {
              alert('조회가 실패하였습니다');
            }
          }
        }
        , beforeSend:function(){
            $('.wrap-loading').removeClass('display-none');
        }
        , complete:function(){
            $('.wrap-loading').addClass('display-none');
        }
        , error : function(e) {
          alert('조회가 실패하였습니다');
        }
      });
    }

    function fn_itemCategory(categoryId) {
      $.ajax({
          type: "GET"
        , url : "/api/v1/category/item/" + categoryId
        , dataType: "json"
        , success : function(data) {
          if(data.resultCode == 200) {
            fn_apprCateogry(0, 0, data.result[0]);
            fn_apprCateogry(data.result[0], 1, data.result[1]);
            fn_apprCateogry(data.result[1], 2, data.result[2]);
          } else {
            if(data.divisionCode == 'G013') {
              alert(data.resultMsg);
            } else {
              alert('조회가 실패하였습니다');
            }
          }
        }
        , beforeSend:function(){
            $('.wrap-loading').removeClass('display-none');
        }
        , complete:function(){
            $('.wrap-loading').addClass('display-none');
        }
        , error : function(e) {
          alert('조회가 실패하였습니다');
        }
      });
    }

  </script>
</head>
<body>
  <th:block th:replace="fragment/header :: headerFragment"></th:block>
  <div class="container">
    <div class="input-form-backgroud row">
      <div class="input-form col-md-12 mx-auto">
        <h4 class="mb-3">상품 관리</h4>
        <div class="col-md-4 mb-3">
          <label for="item">상품코드/명</label>
          <input type="text" class="form-control" id="item">
        </div>
        <button type="button" class="btn btn-warning btn-select" id="btnAppr">상품 조회</button>
        <button type="button" class="btn btn-warning btn-select" id="btnAdd">상품 추가</button>
        <hr class="mb-4">
        <div id="page"></div>
      </div>
    </div>
  </div>

  <div class="wrap-div display-none">
    <div class="wrap-div-main">
      <div class="div-coupon">
        <input type="hidden" id="method">
        <h4 class="mb-3 margin-left margin-top">상품 추가 및 수정</h4>

        <div class="row">
          <div class="col-md-5 mb-3 margin-left">
            <label for="selItemId">상품 코드</label>
            <input type="text" class="form-control" id="selItemId">
          </div>
          <div class="col-md-5 mb-3">
            <label for="selItemName">상품 명</label>
            <input type="text" class="form-control" id="selItemName">
          </div>
        </div>

        <div class="margin-left">카테고리</div>
        <div class="row">
          <div class="col-md-3 mb-3 margin-left">
            <label for="category1">대분류</label>
            <select class="form-select" id="category1"></select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="category2">중분류</label>
            <select class="form-select" id="category2"></select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="category3">소분류</label>
            <select class="form-select" id="category3"></select>
          </div>
        </div>

        <div class="mb-3 margin-left margin-right">
          <label>미리보기 이미지</label>
          <div class="filebox bs3-primary preview-image">
            <input class="upload-name" id="name1" value="파일선택" disabled="disabled" style="width: 200px;">
            <label for="input_file1">이미지 업로드</label>
            <input type="file" id="input_file1" class="upload-hidden">
          </div>
        </div>

        <div class="mb-3 margin-left margin-right">
          <label>메인 이미지</label>
          <div class="filebox bs3-primary preview-image">
            <input class="upload-name" id="name2" value="파일선택" disabled="disabled" style="width: 200px;">
            <label for="input_file2">이미지 업로드</label>
            <input type="file" id="input_file2" class="upload-hidden">
          </div>
        </div>

        <div class="col-md-6 mb-3 margin-left">
          <label for="selItemExpln">설명</label>
          <textarea id="selItemExpln" class="textarea"></textarea>
        </div>

        <div class="row">
          <div class="col-md-4 mb-3 margin-left">
            <label for="selSalePrice">판매가격</label>
            <input type="number" class="form-control" id="selSalePrice">
          </div>
          <div class="col-md-4 mb-3">
            <label for="selDeilPrice">배송비</label>
            <input type="number" class="form-control" id="selDeilPrice">
          </div>
          <div class="col-md-3 mb-3">
            <label for="selStock">현재고</label>
            <input type="number" class="form-control" id="selStock" disabled>
          </div>
        </div>

        <div class="col-md-5 mb-3 margin-left">
          <button type="button" class="btn btn-warning" id="btnClose">닫기</button>
          <button type="button" class="btn btn-warning" id="btnSave">저장</button>
          <button type="button" class="btn btn-warning" id="btnDelete">삭제</button>
        </div>
      </div>
    </div>
  </div>

  <div class="wrap-loading display-none">
    <div><img src="/img/loading.gif"></div>
  </div>
  <th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>
</html>