<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>문의 관리</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <style>
    body {
      min-height: 100vh;
    }

    .input-form {
      max-width: 1000px;

      margin-top: 80px;
      margin-bottom: 80px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }

    .wrap-div-main{
      position: fixed;
      top:30%;
      left:35%;
    }

    .div-main {
      width: 435px;
      height: 400px;
      background-color: white;
      border: 4px solid #FFC107;
      border-radius: 5px 5px 5px 5px;
    }

    .textarea {
      border: 1px solid #CED4DA;
      border-radius: 5px 5px 5px 5px;
      width:410px;
      height:100px;
      resize:none;
    }

    .margin-left {
      margin-left : 10px;
    }

    #qna-div {
      width:100%;
      margin : 10px;
      text-align: center;
    }
  </style>
  <script type="text/javascript">
    var header = $("meta[name='_csrf_header']").attr("content");
    var token = $("meta[name='_csrf']").attr("content");
    var qnaPage = 0;

    $(document).ready(function(){
      fn_apprItem();

      // 상품 조회 버튼
      $('#btnAppr').click(function() {
        if(fn_checkBlank($("#itemSelect").val())) {
          alert('상품을 선택해주세요');
          $("#itemSelect").focus();
          return false;
        }

        fn_apprQna(0);
      });

      $('#closeQna').click(function() {
        fn_closeQna();
      });

      $('#saveQna').click(function() {
        fn_saveQna();
      });

    });

    // 상품 조회
    function fn_apprItem() {
      $.ajax({
          type: "GET"
        , url : "/api/v1/sel/item/all/" + $('#login-user-id').val()
        , dataType: "json"
        , success : function(data) {
          let str = '';

          if(data.resultCode == 200) {
              $("#itemSelect").append('<option value="">'+ '- 선택 -' +'</option>');
              for(let i=0; i < data.result.length; i++) {
                $("#itemSelect").append('<option value="'+ data.result[i].selItemId +'\">'+ data.result[i].selItemId + ' / ' + data.result[i].selItemName +'</option>');
              }
          } else {
            if(data.divisionCode == 'G013') {
              alert(data.resultMsg);
            } else {
              alert('조회가 실패하였습니다');
            }
          }
        }
        , beforeSend:function(){
            $('.wrap-loading').removeClass('display-none');
        }
        , complete:function(){
            $('.wrap-loading').addClass('display-none');
        }
        , error : function(e) {
          alert('조회가 실패하였습니다');
        }
      });
    }

    // 문의 조회
    function fn_apprQna(page) {
      let pageNum = fn_checkBlank(page) ? 0 : page;

      $.ajax({
          type: "GET"
        , url : "/api/v1/useritemqna/list/" + $('#login-user-id').val() + "/" + $("#itemSelect").val() + "/" + pageNum
        , dataType: "json"
        , success : function(data) {
          if(data.resultCode == 200) {
            if(data.result == 'NoData') {
              $('#qna-div').html('<div class="no-data"><img src="/img/nodata.png"></div>');
            } else {
              fn_setQna(data.result, page);
            }
          }
        }
        , beforeSend:function(){
            $('.wrap-loading').removeClass('display-none');
        }
        , complete:function(){
            $('.wrap-loading').addClass('display-none');
        }
        , error : function(e) {
          alert('조회가 실패하였습니다');
        }
      });
    }

    function fn_setQna(data, pageNum) {
      let pageShow = document.getElementById('qna-div');
      let str = '';

      pageShow.innerHTML = '';

      let total = data.totalElements / 10;
      let start = Math.floor(pageNum / 10) * 10;
      let end = total < (10 * (Math.floor(pageNum / 10)+1))? total : total - (total - (10 * (Math.floor(pageNum / 10)+1)));

      str += '<div style="width:100%; margin : 0 auto;">';
      str += '<table class="myTable">';
      str += '  <thead>';
      str += '    <tr>';
      str += '      <th style="width:10%;">번호</th>';
      str += '      <th style="width:10%;">답변상태</th>';
      str += '      <th style="width:70%;">문의내용</th>';
      str += '      <th style="width:10%;"></th>';
      str += '    </tr>';
      str += '  </thead>';
      str += '  <tbody>';

      for(let i=0; i < data.content.length; i++) {
        str += '<tr>';
        str += '  <td>';
        str += (pageNum*10)+(i+1);
        str += '  </td>';
        str += '  <td>';

        if(data.content[i].itemQnaAnswerYn == 'Y') {
          str += '답변';
        } else {
          str += '미답변';
        }

        str += '  </td>';
        str += '  <td class="data" style="text-align:left;"';
        str += '  data-store="' + data.content[i].store +'"';
        str += '  data-item="' + data.content[i].item +'"';
        str += '  data-user="' + data.content[i].user +'"';
        str += '  data-itemQnaId="' + data.content[i].itemQnaId +'"';
        str += '  data-itemQnaQuestion="' + data.content[i].itemQnaQuestion +'"';
        str += '  data-itemQnaAnswer="' + data.content[i].itemQnaAnswer +'"';
        str += '  data-itemQnaAnswerYn="' + data.content[i].itemQnaAnswerYn +'"';
        str += '  > '+ data.content[i].itemQnaQuestion +'</td>';
        str += '<td></td>';
        str += '</tr>';
      }

      str += '  </tbody>';
      str += '</table>';
      str += '</div>';

      str += '<div class="page_wrap"> ';
      str += '  <div class="page_nation"> ';
      str += '    <a class="arrow pprev" onclick=\"fn_apprQna(0);\">First</a> ';

      if(pageNum-1 < 0) {
        str += '    <a class="arrow prev" onclick=\"alert(\'처음 페이지 입니다.\');">&lt;</a> ';
      } else {
        str += '    <a class="arrow prev" onclick=\"fn_apprQna(' + (pageNum-1) + ');\">&lt;</a> ';
      }

      for(var i=start; i<end; i++) {
        if(pageNum == i) {
          str += '<a class=\"active\" onclick=\"fn_apprQna(' + i + ');\">' + (i+1) + '</a>';
        } else {
          str += '<a onclick=\"fn_apprQna(' + i + ');\">' + (i+1) + '</a>';
        }
      }

      if(pageNum+1 >= total) {
        str += '    <a class="arrow next" onclick=\"alert(\'마지막 페이지 입니다.\');">&gt;</a> ';
      } else {
        str += '    <a class="arrow next" onclick=\"fn_apprQna(' + (pageNum+1) + ');\">&gt;</a> ';
      }

      if(total - Math.floor(total) == 0) {
        total -= 1;
      }

      str += '    <a class="arrow nnext" onclick=\"fn_apprQna(' + Math.floor(total) + ');\">Last</a> ';
      str += '  </div> ';
      str += '</div> ';

      pageShow.innerHTML = str;

      qnaPage = pageNum;

      $('.myTable').off('click');

      // 행 선택
      $('.myTable').children('tbody').children('tr').click(function() {

        if($(this).children('.data').data('itemqnaansweryn') == 'Y') {
          $('#itemQnaAnswer').attr('disabled', true);
        } else {
          $('#itemQnaAnswer').attr('disabled', false);
        }

        $('#itemQnaQuestion').val($(this).children('.data').data('itemqnaquestion'));
        $('#itemQnaAnswer').val($(this).children('.data').data('itemqnaanswer'));

        $('#store').val($(this).children('.data').data('store'));
        $('#item').val($(this).children('.data').data('item'));
        $('#itemqnaid').val($(this).children('.data').data('itemqnaid'));

        $('.wrap-div').removeClass('display-none');
      });
    }

    function fn_closeQna() {
      $('.wrap-div').addClass('display-none');
      $('#itemQnaQuestion').val('');
      $('#itemQnaAnswer').val('');
      $('#store').val('');
      $('#item').val('');
      $('#itemqnaid').val('');
      $('#itemQnaAnswer').attr('disabled', false);
    }

    function fn_closeQna() {
      $('.wrap-div').addClass('display-none');
      $('#itemQnaQuestion').val('');
    }

    function fn_saveQna() {
      let userItemQna = {
          "store" : $('#store').val()
        , "item" : $('#item').val()
        , "user" : $('#login-user-id').val()
        , "itemQnaId" : $('#itemqnaid').val()
        , "itemQnaQuestion" : $('#itemQnaQuestion').val()
        , "itemQnaAnswer" : $('#itemQnaAnswer').val()
        , "itemQnaAnswerYn" : 'Y'
      };

      if(fn_checkBlank(userItemQna.itemQnaAnswer)) {
        alert('답변을 입력해주세요');
        $('#itemQnaAnswer').focus();
        return false;
      }

      $.ajax({
          type: "PUT"
        , url : "/api/v1/useritemqna"
        , beforeSend: function(xhr){
          $('.wrap-loading').removeClass('display-none');
          xhr.setRequestHeader(header, token);
        }
        , contentType : "application/json"
        , data : JSON.stringify(userItemQna)
        , success : function(data) {
          if(data.resultCode == 201 || data.resultCode == 204) {
            alert('저장이 완료되었습니다');
            fn_closeQna();
            fn_apprQna(qnaPage);
          } else {
            // 데이터 중복
            if(data.divisionCode == 'G014') {
             alert(data.reason);
            } else {
             alert('저장이 실패했습니다');
            }
          }
        }
        , complete:function(){
            $('.wrap-loading').addClass('display-none');
        }
        , error : function(e) {
          alert('저장이 실패했습니다');
        }
      });
    }
  </script>
</head>
<body>
  <th:block th:replace="fragment/header :: headerFragment"></th:block>
  <div class="container">
    <div class="input-form-backgroud row">
      <div class="input-form col-md-12 mx-auto">
        <h4 class="mb-3">문의 관리</h4>
        <div class="col-md-4 mb-3">
          <label for="itemSelect">상품코드/명</label>
          <select class="form-select" id="itemSelect"></select>
        </div>
        <button type="button" class="btn btn-warning btn-select" id="btnAppr">문의 조회</button>
        <hr class="mb-4">
        <div id="qna-div"></div>
      </div>
    </div>
  </div>

  <div class="wrap-div display-none">
    <div class="wrap-div-main">
      <div class="div-main">
        <h4 class="mb-3 margin-left margin-top">답변하기</h4>
        <input type="hidden" id="store">
        <input type="hidden" id="item">
        <input type="hidden" id="itemqnaid">
        <div class="col-md-6 mb-3 margin-left">
          <label for="itemQnaQuestion">문의내용</label>
          <textarea id="itemQnaQuestion" class="textarea" disabled></textarea>
        </div>
        <div class="col-md-6 mb-3 margin-left">
          <label for="itemQnaAnswer">답변하기</label>
          <textarea id="itemQnaAnswer" class="textarea"></textarea>
        </div>
        <div class="col-md-5 mb-3 margin-left">
          <button type="button" class="btn btn-warning" id="closeQna">닫기</button>
          <button type="button" class="btn btn-warning" id="saveQna">저장</button>
        </div>
      </div>
    </div>
  </div>

  <div class="wrap-loading display-none">
    <div><img src="/img/loading.gif"></div>
  </div>
  <th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>
</html>